# Database Configuration
DB_TYPE=DB_utilizada 
DB_HOST=localhost
DB_PORT=3306 # para mysql
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_DATABASE=tu_oficio_api
DB_SSL=false

# Node Environment
NODE_ENV=development
